// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "~jquery-nice-select/scss/nice-select";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

$primary:#26223B;
$light:#B4D9E4;
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main__container{
    height: 100vh;
}

.nav__container{
    height: 5% !important;
}

.content__container{
    height: 95% !important;
}

.dropLink__container{
    width: 1000px;
}
