
body{
    font-family:  'PT Sans', sans-serif;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register__page{
    background-image: url("../../public/images/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
.register__container{
    width: 500px;
    height: 300px;
}

.select__category{
    cursor: pointer;
    transition: all 200ms ease-in;
}
.select__category:hover .nav__link{
    color:#15ffd4 !important;
}

.profile__status{
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;

}
.profile__status:hover .profile__hover__text{
    display: block;
}
.profile__hover__text{
    position: fixed;
    padding: 5px;
    width: auto;
    color: #f99400;
    background-color: rgba(0, 0, 0, 0.58) !important;
    border-radius: 3px;
    top: 6%;
    right:30px;
    display: none;
}
.edit__profile__logoContainer{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 2009;
    transition: all 200ms ease-in;
}
.edit__profile__logoCase{
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 1010;
}
.profile__first__case{
    width: 250px;
    height: 250px;
}
.profile__second__case{
    height: 60px;
    min-width: 300px;
}
.profile__third__case{
    height: 60px;
    min-width: 300px;
}

.save__editProfile{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.edit__profile__logo{
    position: absolute;
    top:-20px;
    right: -20px;
    transition: all 200ms ease-in;
}
.edit__profile__logo:hover{
    cursor:pointer;
    color: rgba(0, 175, 0, 0.815)!important;
}

.profile__logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
   /* transition: all 200ms ease-in-out;
    animation: rotation 7s infinite linear;*/
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.show__profile_logo{
    width: 200px;
    height: 200px;
   /* border: 5px solid #B4D9E4;  !*dashed mean ---------- *!*/
}

.edit__profile__container{
    width: 600px;
    height: 700px;
    position: fixed;
    border-radius: 5px;
    box-shadow: 0 0 5px #15ffd4;
    top: 15%;
    right:0;
    left:0;
    margin: 0 auto;
    z-index: 1008;
}
.home__container {
    background-image: url("../../public/images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}


.backImg{
    background-image: url("../../public/images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    /*box-shadow: 0 0 5px #B4D9E4;*/
}

.main__container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:4%;

}

.nav__container{
    width: 100%;
    height: 5% !important;
    z-index: 1015 !important;
    position: fixed;
    top: 0;
}

.home__logo__container{
    cursor: pointer;
    transition: all 200ms ease-in;
}
.home__logo__container:hover{
    color: #62E3FF !important;
}
.home__logo__container:hover .hover__home__text{
    display: block;
}

.hover__home__text{
    position: fixed;
    top:6%;
    padding: 5px 7px;
    width: auto;
    color: #f99400;
    background-color: rgba(0, 0, 0, 0.58);
    font-size: 14px !important;
    font-weight: bolder;
    display: none;
}


.content__container{
    height: 100% !important;
    position: relative;
}

.dropLink__container{
    width: 1000px;
}

.setting{
    width: 30px !important;
}

.display__action{
    display: none;
}

.category__child{
    height: 40px;
    transition: all 200ms ease-in ;
}
.category__child:hover{
    background-color: #134a53bc !important;
}


/* WEB ITEM MANAGEMENT */
.show__web__itemContainer{
    background-color: rgba(2, 92, 36, 0.194) ;
    position: fixed;
    top: 5%;
}

.web__item{
    width:330px;
    height: auto;
    position: fixed;
    top:5%;
    z-index: 1001;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:3px;
    border-top: 5px solid #71848a78;

}
.show__web__item{
    background-image: url("../../public/images/chrome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    filter: blur(5px);
}

.show__item__image{
    transition: all 200ms ease-in;
    z-index: 1017;
}
.show__item__image:hover{
    transform: scale(1.1);
}
.show__item__image:hover i{
    display: block;
}


.empty__text{
    font-size: 100px;
    text-shadow: 3px 8px 3px grey;
}

  /*  YOUTUBE ITEM MANAGEMENT */


.star__logo{
    position: absolute;
    top: 3px;
    right: 3px;
    font-weight: 500 !important;
    z-index: 1018;
    display: none;
    transition: all 200ms ease-in;
}
.star__logo:hover .add__favourite{
    display: block;
}
.favourite__items{
    transition: all 200ms ease-in;
}
.favourite__items:hover .favourite__close__logo{
    display: block;
}


.favourite__star__logo{
    position: relative;
    transition: all 200ms ease-in;
}
.favourite__star__logo:hover .hover__favourite__text{
    display: block;
}

.hover__favourite__text{
    position: fixed;
    top: 6%;
    width:auto;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    color:#f99400!important;
    text-transform: capitalize !important;
    background-color: rgba(0, 0, 0, 0.58);
    font-size: 14px !important;
    font-weight: bolder;
    display: none;
}

.add__favourite{
    position: absolute;
    top: -30px;
    width:auto;
    background-color: rgba(0, 0, 0, 0.58) !important;
    border-radius: 3px;
    text-transform: capitalize !important;
    font-size: 13px !important;
    font-weight: bold;
    display: none;
}
.active__favourite{
    font-weight: 500 !important;
    color:#f99400!important;
}
.added__color__favourite{
    background-color: black;
}

.show__youtube__itemContainer{
    background-color: rgba(14, 92, 99, 0.5) ;
    position: fixed;
    top: 5%;
}

.youtube__item{
    width:330px;
    height: auto;
    position: fixed;
    top:5%;
    z-index: 1001;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:3px;
    border-top: 5px solid #71848a78;
}

.show__youtube__item{
    background-image: url("../../public/images/youtube.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    filter: blur(5px);
}


.itemClose{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.itemClose:hover{
    color: red!important;
    transform: scale(1.3);
}


.closeStatus{
    transition: all 100ms ease-in;
}

.closeStatus:hover{
    color: red!important;
    transform: scale(1.5);
}
.manage__dropdown{
    width: 200px;
    height: auto;
    position: fixed;
    top: 5%;
    right:1px;
    z-index: 2005;
    border-bottom-left-radius: 5px;
}

.manage__logo{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor:pointer;
    border-right: 1px solid #B4D9E4 ;
    border-left: 1px solid red;
    transition: all 200ms ease-in-out;
    animation: rotation 10s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.manage__logo__container{
    transition: all 200ms ease-in;
}
.manage__logo__container:hover .setting__text{
    display: block;
}
.setting__text{
    position: fixed;
    top:6%;
    padding: 5px 7px;
    width: auto;
    color: #f99400;
    background-color: rgba(0, 0, 0, 0.58) !important;
    border-radius: 3px;
    right: 7px;
    display: none;
}

.manage__item{
    height: 50px;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    transition: all 200ms ease-in-out;
}
.manage__item:hover{
    background-color:#62E3FF !important;
    color: #000000 !important;
}

.item__logo__img{
    object-fit: contain;
    height: 50px;
}

.manage__close{
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 7px;
}
.manage__close:hover{
    transform: scale(1.2);
    color: red !important;
}

.create__items{
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: absolute;
    top:7%;
    right:0;
    left: 0;
    margin: 0 auto;
    z-index: 2004;
}

.items__container{
    column-count: 6;
}

.item__child{
    outline: none;
    border: none;
    font-size: 14px;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    cursor:pointer;
    transition: all 200ms ease-in;
    margin-bottom: 1.3em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.manage__item__child{
    width:100% !important;
    height:30px !important;
}
.item__child:hover{
    background-color: #0f6674 !important;
    color: #a2c3cd;
}

/* MANAGE STYLE */
.manage__container{
    position: fixed;
    top: 5%;
    height: 100%;
}

.manage__sidebar{
    border-top: 5px solid #71848a78;
    border-top-right-radius: 10px;
    overflow: scroll;
/* width */
}
/* Custom Scroll BAR */
.manage__sidebar::-webkit-scrollbar {
    width:7px;
}

/* Track */
.manage__sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.manage__sidebar::-webkit-scrollbar-thumb {
    background: #15ffd4;
    border-radius: 10px;
}

/* Handle on hover */
.manage__sidebar::-webkit-scrollbar-thumb:hover {
    background: #b30000;
    cursor: pointer;
}

.manage{
    height:100%;
}
.each__itemContainer{
    position: relative;
    width: 100% !important;
    height: 50px !important;
    font-size: 16px;
    transition: all 200ms ease-in;
    border-left:5px solid #050D20 ;
    cursor: pointer;
}
.each__itemContainer:hover{
    border-left:5px solid #15ffd4;
    background-color:#134a53bc !important ;
}
.active__itemContainer{
    border-left:5px solid #ff0000;
    background-color:#93333abc !important ;
}
.each__itemContainer:hover div{
    color: #15ffd4 !important;
}


/* MANAGE CURRENT STATUS */
.current__page{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
.current__status{
    width: 100%;
    height:250px;
    border-radius: 5px;
}
.create__status{
    width: 100%;
    height: 570px;
    border-radius: 5px;
}
.list__status{
    width: 100%;
    height: 825px;
    border-radius: 5px;
}
.current__category{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;
    border: 1px solid #a2c3cd;
}
.back__page{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top:5px;
    left: 5px;
    transition: all 200ms ease-in;
}

.back__page:hover{
    background-color: rgba(255, 0, 0, 0.515);
    color: #26223B !important;
}

/*SHOW ITEMS */

    .yCategory__case:hover .category__child__container{
        border-left: 5px solid #71848a78;
        display: block;
    }
    .yCategory__case:hover .category__text{
        background-color:  #93333abc !important;
    }

    .yCategory__case:hover .yCategory__text i{
        transform: scale(1.5) rotate(180deg);
        font-weight: bolder;
        color: #ff0000 !important;
    }
    .wCategory__case:hover .wCategory__text i{
        transform: scale(1.5) rotate(180deg);
        font-weight: bolder;
        color: #15ffd4 !important;
    }

    .wCategory__case:hover .category__child__container{
        border-left: 5px solid #71848a78;
        display: block;
    }
    .wCategory__case:hover .category__text{
        background-color: #134a53bc !important;
    }



    .category__child__container{
        display: none;
    }
    .category__text{
        transition: all 200ms ease-in;
        height: 50px;
        cursor:pointer;
    }
   /* .category__text:hover{
        background-color: #134a53bc !important;
    }*/



    .active__category{
        background-color:  #93333abc !important;
    }

   .yCategory__case .category__child__container .category__child{
        height:50px;
        transition: all 100ms ease-in;
        cursor:pointer;
    }
    .yCategory__case .category__child__container .category__child:hover{
        border-left:5px solid red;
    }

    .wCategory__case .category__child__container .category__child{
        height:50px;
        transition: all 100ms ease-in;
        cursor:pointer;
    }
    .wCategory__case .category__child__container .category__child:hover{
        border-left:5px solid #15ffd4;
        background-color: #93333abc !important ;
    }


    .category__child:hover a{
        color:#a2c3cd !important ;
    }
    .type{
        width: 100%;
        height: 200px;
        position: absolute;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        top: 0;
        left: 100%;
        z-index: 1011;
    }
