
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register__page{
    background-image: url("../../public/images/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
.register__container{
    width: 500px;
    height: 300px;
}

.profile__status{
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
.edit__profile__logoContainer{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 2009;
    transition: all 200ms ease-in;
}
.edit__profile__logoCase{
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 1010;
}
.profile__first__case{
    width: 250px;
    height: 250px;
}
.profile__second__case{
    height: 60px;
    min-width: 300px;
}
.profile__third__case{
    height: 60px;
    min-width: 300px;
}

.save__editProfile{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.edit__profile__logo{
    position: absolute;
    top:-20px;
    right: -20px;
    transition: all 200ms ease-in;
}
.edit__profile__logo:hover{
    cursor:pointer;
    color: rgba(0, 175, 0, 0.815)!important;
}

.profile__logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
   /* transition: all 200ms ease-in-out;
    animation: rotation 7s infinite linear;*/
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.show__profile_logo{
    width: 200px;
    height: 200px;
   /* border: 5px solid #B4D9E4;  !*dashed mean ---------- *!*/
}

.edit__profile__container{
    width: 600px;
    height: 700px;
    position: absolute;
    border-radius: 5px;
    border-right:5px dashed #B4D9E4;
    border-bottom:5px dashed #B4D9E4;
    border-left:5px dashed #ff0000;
    border-top:5px dashed #ff0000;
    top: 15%;
    right:0;
    left:0;
    margin: 0 auto;
    z-index: 1008;
}
.home__container {
    background-image: url("../../public/images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
.backImg{
    background-image: url("../../public/images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    /*box-shadow: 0 0 5px #B4D9E4;*/
}

.main__container{
    height: 100vh;
}

.nav__container{
    height: 5% !important;
    z-index: 1015 !important;
}

.content__container{
    height: 95% !important;
    position: relative;
}

.dropLink__container{
    width: 1000px;
}

.setting{
    width: 30px !important;
}

.nav__link{
    cursor: pointer;
    transition: all 200ms ease-in;
}
.nav__link:hover{
    color: #62E3FF !important;
}

.display__action{
    display: none;
}

.web__item{
    width:330px;
    height: auto;
    position: absolute;
    top: 5%;
    z-index: 1001;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:3px;
    border-top: 5px solid #71848a78;

}
.category__child{
    height: 40px;
    transition: all 200ms ease-in ;
}
.category__child:hover{
    background-color: #134a53bc !important;
}

.youtube__item{
    width:330px;
    height: auto;
    position: absolute;
    top:5%;
    z-index: 1001;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:3px;
    border-top: 5px solid #71848a78;
}


.itemClose{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.itemClose:hover{
    color: red!important;
    transform: scale(1.3);
}


.closeStatus{
    transition: all 100ms ease-in;
}

.closeStatus:hover{
    color: red!important;
    transform: scale(1.5);
}
.manage__dropdown{
    width: 200px;
    height: auto;
    position: absolute;
    top: 5%;
    right:1px;
    z-index: 2005;
    border-bottom-left-radius: 5px;
}

.manage__logo{
    border-radius: 50%;
    padding: 7px;
    cursor:pointer;
    border-right: 1px solid #B4D9E4 ;
    border-left: 1px solid red;
    transition: all 200ms ease-in-out;
    animation: rotation 10s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.manage__logo:hover{
    background-color: #B4D9E4;
    color: #26223B !important;
}

.manage__item{
    height: 30px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 200ms ease-in-out;
}
.manage__item:hover{
    background-color:#62E3FF !important;
    color: #000000 !important;
}

.item__logo__img{
    object-fit: contain;
    height: 50px;
}

.manage__close{
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 7px;
}
.manage__close:hover{
    transform: scale(1.2);
    color: red !important;
}

.create__items{
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: absolute;
    top:7%;
    right:0;
    left: 0;
    margin: 0 auto;
    z-index: 2004;
}

.items__container{
    column-count: 6;
}

.item__child{
    outline: none;
    border: none;
    font-size: 14px;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    cursor:pointer;
    transition: all 200ms ease-in;
    margin-bottom: 1.3em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.manage__item__child{
    width:100% !important;
    height:30px !important;
}
.item__child:hover{
    background-color: #0f6674 !important;
    color: #a2c3cd;
}

/* MANAGE STYLE */
.manage__container{
    height: 100%;
}

.manage{
    height:100%;
}
.each__itemContainer{
    position: relative;
    width: 100% !important;
    height: 40px !important;
    font-size: 16px;
    transition: all 200ms ease-in;
    border-left:10px solid #26223B ;
    cursor: pointer;
}
.each__itemContainer:hover{
    background-image: url("../../public/images/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    border-left:10px solid red;
}

.each__itemContainer a{
    transition: all 200ms ease-in;
}
.each__itemContainer div:hover{
    color: red !important;
}

/* MANAGE CURRENT STATUS */
.current__page{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
.current__status{
    width: 100%;
    height:250px;
    border-radius: 5px;
}
.create__status{
    width: 100%;
    height: 590px;
    border-radius: 5px;
}
.list__status{
    width: 100%;
    height: 850px;
    border-radius: 5px;
}
.current__category{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;
    border: 1px solid #a2c3cd;
}
.back__page{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top:5px;
    left: 5px;
    transition: all 200ms ease-in;
}

.back__page:hover{
    background-color: rgba(255, 0, 0, 0.515);
    color: #26223B !important;
}

/*SHOW ITEMS */

    .yCategory__case:hover .category__child__container{
        border-left: 5px solid #71848a78;
        display: block;
    }
    .yCategory__case:hover .category__text{
        background-color:  #93333abc !important;
    }

    .yCategory__case:hover .yCategory__text i{
        transform: scale(1.5) rotate(180deg);
        font-weight: bolder;
        color: #ff0000 !important;
    }
    .wCategory__case:hover .wCategory__text i{
        transform: scale(1.5) rotate(180deg);
        font-weight: bolder;
        color: #15ffd4 !important;
    }

    .wCategory__case:hover .category__child__container{
        border-left: 5px solid #71848a78;
        display: block;
    }
    .wCategory__case:hover .category__text{
        background-color: #134a53bc !important;
    }



    .category__child__container{
        display: none;
    }
    .category__text{
        transition: all 200ms ease-in;
        height: 50px;
        cursor:pointer;
    }
   /* .category__text:hover{
        background-color: #134a53bc !important;
    }*/



    .active__category{
        background-color:  #93333abc !important;
    }

   .yCategory__case .category__child__container .category__child{
        height:50px;
        transition: all 100ms ease-in;
        cursor:pointer;
    }
    .yCategory__case .category__child__container .category__child:hover{
        border-left:5px solid red;
    }

    .wCategory__case .category__child__container .category__child{
        height:50px;
        transition: all 100ms ease-in;
        cursor:pointer;
    }
    .wCategory__case .category__child__container .category__child:hover{
        border-left:5px solid #15ffd4;
        background-color: #93333abc !important ;
    }


    .category__child:hover a{
        color:#a2c3cd !important ;
    }
    .type{
        width: 100%;
        height: 200px;
        position: absolute;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        top: 0;
        left: 100%;
        z-index: 1011;
    }
